*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Container where everything is going to be placed inside. */
.container {
  padding: 10px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The container where sidebar and the content will come inplace. */
.sign-up-form-container {
  height: 720px;
  width: 900px;
  display: flex;
}

/* Container to place the sidebar in. */
.sidebar-container {
  height: 720px;
  width: 481px;
  position: relative;
}

/* Fitting the image inside the container. */
.image-container {
  position: relative;
  background-image: url(plant.jpg);
  height: 720px;
  width: 300px;
  background-size: cover;
}

.right-side-container {
  display: flex;
  flex-direction: column;
}

/* Transparent background */
.transparent-background-container {
  width: 300px;
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* Putting a transparent background */
.transparent-background-container > div {
  width: 300px;
  height: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Odin text inside that background.*/
.transparent-background-container > div > h2 {
  color: white;
  font-family: Norse-Bold;
  font-size: 75px;
}

/* Odin Image inside the background. */
.transparent-background-container > div > img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

/* First Div on top of the sign-up form. */
.header-container {
  width: 600px;
  height: 250px;
  background-color: rgb(211, 211, 211, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Paragraphs inside the div. */
.header-container > div > p {
  font-size: 14px;
  font-family: Poppins;
  font-weight: bold;
  text-align: left;
  margin-left: 40px;
  word-wrap: break-word;
  padding-right: 15px;
}

/* Giving a margin-top to the third paragraph of paragraphs-header class. */
.paragraphs-header > p:nth-of-type(3) {
  margin-top: 10px;
}

/* Middle Section Container */
.middle-section {
  width: 600px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  display: flex;
}

.wrapper-middle-section {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

/* Targeting the bold text at the start of the middle-section */
.wrapper-middle-section > p:first-of-type {
  font-size: 14px;
  font-family: Poppins;
  font-weight: bold;
  display: flex;
  margin-bottom: 10px;
}

/* Form Editing Starts */

.first-row,
.middle-row,
.last-row {
  display: flex;
  gap: 90px;
}

/* To make the label come above the input text. */
input,
label {
  display: block;
}

/* Styling the label and placeholder texts. */
label,
::placeholder {
  font-family: Lora;
  font-size: 9px;
  letter-spacing: 2px;
  font-weight: 600;
}

label {
  margin-bottom: 5px;
  margin-top: 10px;
}

input {
  padding: 3px;
}

/* Making all the text-boxes the same size */
input,
textarea,
select,
button {
  width: 200px;
  margin: 0;
  box-sizing: border-box;
}

/* Form Editing Done for now. */

/* Last Section editing begins */
.last-section {
  position: relative;
  top: 69px;
  left: -40px;
  width: 600px;
  height: 218px;
  background-color: rgb(211, 211, 211, 0.4);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Last Section button styling. */
.last-section > button {
  margin-left: 40px;
  margin-top: 40px;
  padding: 10px;
  background-color: #596d48;
  border-radius: 7px;
  font-family: Arial;
  color: white;
  font-weight: bold;
  width: 175px;
  letter-spacing: 2px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Paragraph of the last section. */
.last-section > p {
  margin-left: 40px;
  margin-top: 40px;
  font-family: Lora;
}

/* Anchor Link of Log In styling in the Last Section */
.last-section > p > a {
  text-decoration: none;
  color: #596d48;
}

/* Form Validation Styling */

input,
button {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
}

input:hover {
  background-color: rgba(144, 238, 144, 0.1);
}

button:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.29);
}
input:focus,
input:active {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.29);
}

button:hover {
  position: relative;
  bottom: 2px;
}

button {
  cursor: pointer;
}

input {
  height: 25px;
}

input[type="password"]:invalid {
  border: 1px solid red;
}
/* Form Styling Ends */

/* Validation Errors Display */
.first-name[data-error].first_name {
  border: 1px solid red;
  color: red;
  background: #fffafa;
}

.first-name[data-error].first_name::after {
  content: attr(data-error);
  font-size: 12px;
  color: red;
  display: block;
  margin: 5px 0;
}
/*  */

/* Password Error */
.message {
  margin-top: 5px;
  font-family: Lora;
  font-size: 12px;
  font-weight: bold;
}
